# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.My RPG.iml
# Datasource local storage ignored files
/../../../../../../:\My Unity Games\My RPG\.idea\.idea.My RPG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
